<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>PREDIÇÃO DE ...</h1>
  </header>

  <section class="predict">
    <div class="predict__box">
      <input type="text" class="predict__box--input" placeholder="Digite aqui a parada" maxlength="30"
        [(ngModel)]="textRequest">

      <button class="predict__box--send-btn" (click)="getPredict()">ENVIAR</button>

      <button *ngIf="textResponse" class="predict__box--clear-btn" (click)="clear()">LIMPAR</button>

      <h2 *ngIf="textResponse">{{ textResponse }}</h2>
    </div>
  </section>
</body>

</html>