header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 4rem;
}

.btn-header {
  cursor: pointer;
  background-color: green;
  border: none;
  border-radius: .5rem;
  color: white;
  font-size: x-large;
  height: 60%;
  width: 10rem;

  &:hover {
    background-color: darken(green, 10%);
  }
}

.tables {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.predict-header {
  color: white;
  height: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.accuracy {
  margin-bottom: 0;
}

.best-params {
  display: flex;
  flex-direction: column;

  p {
    margin-right: .2rem;
  }
}

.title {
  margin-right: .5rem;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 2px solid #333;
  }

  th, td {
    border: 1px solid #333;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #c0bebe;
  }

  tr {
    background-color: #f9f9f9;
  }

  tr:first-child {
    font-weight: bold;
  }