<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section class="predict">
    <input type="text" class="predict--input" placeholder="Digita aqui a parada meu amigo do peito" maxlength="30"
      [(ngModel)]="textRequest">

    <button class="predict--button" (click)="getPredict()">ENVIAR</button>
  </section>

  <h2 *ngIf="textResponse">{{ textResponse }}</h2>
</body>

</html>